@media only screen and (max-width: 468px) {
  #bar {
    text-align: center;
    padding:    0;

    #brand {
      display: none;
    }
  }
}

@media only screen and (max-width: 1142px) {
  $newSidePadding: 100px;

  .container .inner-container {
    padding: $topPadding $newSidePadding;
  }

  #bar {
    padding: 0 $newSidePadding;
  }
}

@media only screen and (max-width: 905px) {
  $newSidePadding: 20px;

  .container .inner-container {
    padding: $topPadding $newSidePadding;
  }

  #bar {
    padding: 0 $newSidePadding;
  }
}
