// Palette
$main:        rgb(8,   65,  92 );
$accent1:     rgb(92,  158, 173);
$accent2:     rgb(204, 41,  54 );
$background1: rgb(255, 255, 255);
$background2: rgb(238, 238, 238);
$text1:       rgb(0,   0,   0  );
$text2:       rgb(77,  77,  77 );

// Fonts
$mainFontStack:   "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$headerFontStack: "Roboto Slab", "Rockwell", "Courier", "Georgia", "Times", "Times New Roman", serif;

// Bar
$barPadding:    30px;
$barFontSize:   2em;
$barHeight:     calc(#{$barPadding} * 2 + #{$barFontSize});
